<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="Cuc_QLCL.Data" type="Cuc_QLCL.Data.Bases.NetTiersServiceSection, Cuc_QLCL.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="Cuc_QLCL.Data.ConnectionString" connectionString="Data Source=192.168.50.65\sql2008;Initial Catalog=CucQLCL_TT2;Persist Security Info=True;User ID=sa;Password=123" />-->
    <!--<add name="Cuc_QLCL.Data.ConnectionString" connectionString="Data Source=qlcl-ttcn-ser;Initial Catalog=cucqlcl_new;Persist Security Info=True;User ID=sa;Password=qlcl"/>-->
    <add name="Cuc_QLCL.Data.ConnectionString" connectionString="Data Source=123.31.40.146;Initial Catalog=cucvienthong2;User ID=sa;Password=Vnptsoft#321"/>
    <!--<add name="Cuc_QLCL.Data.ConnectionString" connectionString="Data Source=123.31.40.146;Initial Catalog=db_cvt;User ID=sa;Password=Vnptsoft#321"/>-->
    <!--<add name="Cuc_QLCL.Data.ConnectionString" connectionString="Data Source=TUANVM_LAPTOP\SQL2005;Initial Catalog=cucqlcl_new;Integrated Security=True"/>-->
  </connectionStrings>
  <Cuc_QLCL.Data defaultProvider="SqlNetTiersProvider">
    <providers>
      <!--d
        *** SqlClient Provider ***
          connectionStringName: sqlclient connection string to the db
          useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
      -->
      <add name="SqlNetTiersProvider" type="Cuc_QLCL.Data.SqlClient.SqlNetTiersProvider, Cuc_QLCL.Data.SqlClient" connectionStringName="Cuc_QLCL.Data.ConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="Cuc_QLCL.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="true" enableMethodAuthorization="false" useStoredProcedure="false" defaultCommandTimeout="30"/>
      <!-- 
        *** WebserviceClient Provider ***
        The url parameter indicates the webservices url (ex: http://localhost/Northwind/NorthwindServices.aspx)
        <add 
          name="WsNetTiersProvider" 
          type="Cuc_QLCL.Data.WebServiceClient.WsNetTiersProvider, Cuc_QLCL.Data.WebServiceClient"
          url="/Cuc_QLCLServices.asmx" />
      -->
    </providers>
  </Cuc_QLCL.Data>
  <system.web>
    <httpModules>
      <add name="SecurityHttpModule" type="TinhVan.Web.SecurityHttpModule"/>
    </httpModules>
    <pages theme="Default" validateRequest="false"/>
    <siteMap defaultProvider="secureProvider">
      <providers>
        <add name="secureProvider" type="TinhVan.WebUI.WebControls.DynamicSiteMapProvider" siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <globalization uiCulture="vi" culture="vi-Vn" fileEncoding="utf-8"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="Office, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"/>-->
        <add assembly="icsharpcode.sharpziplib, version=0.85.4.369, culture=neutral, publickeytoken=1b03e6acf1164f73"/>
        <add assembly="Microsoft.Vbe.Interop, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <!-- <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/> -->
        <!-- <add assembly="CrystalDecisions.ReportSource, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/> -->
        <!-- <add assembly="CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/> -->
        <!-- <add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/> -->
        <!-- <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/> -->
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="WebUI/Default.aspx" defaultUrl="WebUI/Default.aspx" name="adAuthCookie" timeout="1200"/>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <httpRuntime enable="true" maxRequestLength="1048576" executionTimeout="360000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
  </system.web>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" filePath="entlib.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="MaxFileUpLoadSize" value="5120"/>
      <add key="UploadFolder" value="FileUpload/"/>
      <add key="DownloadFolder" value="FileDownload"/>
      <add key="DuLieuDongBoFolder" value="DuLieuDongBo"/>
      <add key="UserAdmin" value="giangum"/>
      <add key="RootBackupDir" value="\\192.168.50.35\@Projects\QLCL_Backup"/>
      <add key="ImageBackupDir" value="\\192.168.50.35\@Projects\EU\Backup\CMR\Image"/>
      <add key="PageSize" value="15"/>
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
      <add key="wQLCL.QLCL" value="http://servervcc/tt2/qlcl.asmx"/>
      <add key="wVDC.VDC" value="http://113.160.52.50/cucqlcl_internet/vdc.asmx"/>
      <add key="SoNgayXuLyHoSoChungNhan" value="10"/>
      <add key="SoNgayXuLyHoSoCongBo" value="5"/>
      <add key="SoNgayXuLyHoSo" value="15"/>
      <add key="KhoangThoiGianDeltaHetHan" value="3"/>
      <add key="DiaChiInternet" value="http://qlcl-ttcn-ser/cucqlcl_internet"/>
      <add key="DocFile" value="DataVDC"/>
      <add key="GhiFile" value="DataQLCL"/>
      <add key="FileUpload" value="FileUpload"/>
      <add key="PhiCongBoHQ" value="150000"/>
      <add key="PhiLayMau" value="1000000"/>
      <add key="PhiDanhGia" value="1000000"/>
      <add key="PCQL" value="2"/>
    </appSettings>
    <system.webServer>
      <handlers>
        <add name="CrystalImageHandler.aspx_GET" path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode,runtimeVersionv2.0"/>
      </handlers>
    </system.webServer>
  </location>
</configuration>